.navBar {
  background-color: grey;
  color: white;
  padding: 5px;
  width: auto max-content;
  height: fit-content;
  background-color: rgb(209, 197, 209);
  padding: 1px;
}

.categoriesList {
  color: black;
  font-weight: bold;
}

.categorieslinks {
  color: black;
}

.categoriesListItems {
  text-decoration: none;
}
