.title {
  color: rgb(230, 253, 219);
  font-size: larger;
  font-weight: bolder;
  font-family: "Poppins", sans-serif;
  font-family: "Rajdhani", sans-serif;
  font-family: "Roboto", sans-serif;
  text-shadow: 4px 2px rgb(5, 5, 5);
}

.banner {
  background-color: rgb(18, 58, 21);
  padding: 5px;
}
